@font-face {
  font-family: mallchat;
  src: url('mallchat.woff2') format('woff2'), url('mallchat.woff') format('woff'), url('mallchat.ttf') format('truetype');
}

.mallchat {
  font-family: mallchat !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yichu::before {
  content: '\e638';
}

.icon-chat::before {
  content: '\e69d';
}

.icon-huojian::before {
  content: '\e68b';
}

.icon-totop::before {
  content: '\e63a';
}

.icon-shanchu::before {
  content: '\e6bb';
}

.icon-avatar::before {
  content: '\e648';
}

.icon-loading::before {
  content: '\e6de';
}

.icon-copy::before {
  content: '\e62d';
}

.icon-lahei::before {
  content: '\e651';
}
