.user-list {
  &-item {
    gap: 8px;
    display: flex;
    align-items: center;

    width: 98%;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--color-light-3);

    &:hover,
    &:focus,
    &.active {
      transition: .3s;
      background-color: var(--hover-bg-1);
    }
  }

  .user-name {
    display: flex;

    .text {
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}
