.user-list {
  &-item {
    gap: 8px;
    display: flex;
    align-items: center;

    width: 98%;
    padding: 5px;
    cursor: default;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background-color: var(--background-mask);
    }
  }

  .user-name {
    display: flex;

    .text {
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}
